In [1]:
import pandas as pd


veri_listesi = [10, 20, 30, 40, 50]
seri1 = pd.Series(veri_listesi)

print(seri1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd
import numpy as np

veri_numpy = np.array([1.1, 2.2, 3.3, 4.4])
seri2 = pd.Series(veri_numpy)


print(seri2)

0    1.1
1    2.2
2    3.3
3    4.4
dtype: float64

In [3]:
import pandas as pd

veri_sozlugu = {'a': 100, 'b': 200, 'c': 300, 'd': 400}
seri3 = pd.Series(veri_sozlugu)

print(seri3)

a    100
b    200
c    300
d    400
dtype: int64

In [4]:
import pandas as pd

seri4 = pd.Series(5, index=[0, 1, 2, 3, 4])

print(seri4)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [5]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

print(series.index)

print("**********")
series.index = ['a', 'b', 'c', 'd']
print(series)

RangeIndex(start=0, stop=4, step=1)
**********
a    10
b    20
c    30
d    40
dtype: int64

In [7]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)
values = series.values

print(values)

[10 20 30 40]

In [8]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

print(series.dtype)

int64

In [9]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

series.name = "Sayısal Değerler"
print("\nSeries ismi:")
print(series.name)

Series ismi:
Sayısal Değerler

In [10]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

print("\nEleman sayısı:")
print(series.size)

Eleman sayısı:
4

In [11]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

print("\nBoyut bilgisi:")
print(series.shape)

Boyut bilgisi:
(4,)

In [12]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

print("\nVerilerin benzersiz olup olmadığı:")
print(series.is_unique)

Verilerin benzersiz olup olmadığı:
True

In [13]:
import pandas as pd

data = [10, 20, 30, 40]
series = pd.Series(data)

print("\nEksik değer var mı:")
print(series.hasnans)

Eksik değer var mı:
False

In [14]:
import pandas as pd

data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index_labels)

print("Series:")
print(series)

print("----" * 10)

sifirinci_index_eleman_0 = series[0]
print("\n0. İndeksteki Değer:")
print(sifirinci_index_eleman_0)

print("----" * 10)

Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64
----------------------------------------

0. İndeksteki Değer:
10
----------------------------------------

<ipython-input-14-ff2e45a9d60a>:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sifirinci_index_eleman_0 = series[0]

In [15]:
ikinci_index_eleman_2 = series[2]
print("\n2. İndeksteki Değer:")
print(ikinci_index_eleman_2)

2. İndeksteki Değer:
30

<ipython-input-15-c97884aa4bf5>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ikinci_index_eleman_2 = series[2]

In [16]:
value_with_label_c = series['c']

print(value_with_label_c)

30

In [17]:
values_multiple_labels = series[['a', 'c', 'e']]
print("\n'a', 'c' ve 'e' Etiketlerine Sahip Değerler:")
print(values_multiple_labels)

'a', 'c' ve 'e' Etiketlerine Sahip Değerler:
a    10
c    30
e    50
dtype: int64

In [18]:
import pandas as pd

data = [10, 20, 30, 40, 50, 60, 70, 80]
series = pd.Series(data)

sum_of_series = series.sum()
print("Toplam: ", sum_of_series)

print("---"*20)

Toplam:  360
------------------------------------------------------------

In [19]:
mean_of_series = series.mean()
print("Ortalama: ", mean_of_series)

Ortalama:  45.0

In [20]:
max_of_series = series.max()
print("Maksimum Değer: ", max_of_series)

print("---"*20)

Maksimum Değer:  80
------------------------------------------------------------

In [21]:
min_of_series = series.min()
print("Minimum Değer: ", min_of_series)

Minimum Değer:  10

In [22]:
std_of_series = series.std()
print("Standart Sapma: ", std_of_series)

Standart Sapma:  24.49489742783178

In [23]:
median_of_series = series.median()
print("Medyan: ", median_of_series)

Medyan:  45.0

In [24]:
cumsum_of_series = series.cumsum()
print("Kümülatif Toplam: ")
print(cumsum_of_series)

Kümülatif Toplam:
0     10
1     30
2     60
3    100
4    150
5    210
6    280
7    360
dtype: int64

In [25]:
cumprod_of_series = series.cumprod()
print("Kümülatif Çarpım: ")
print(cumprod_of_series)

Kümülatif Çarpım:
0               10
1              200
2             6000
3           240000
4         12000000
5        720000000
6      50400000000
7    4032000000000
dtype: int64

In [26]:
var_of_series = series.var()
print("Varyans: ", var_of_series)

print("---"*20)

Varyans:  600.0
------------------------------------------------------------

In [27]:
count_of_series = series.count()
print("Eleman Sayısı: ", count_of_series)

print("---"*20)

Eleman Sayısı:  8
------------------------------------------------------------

In [28]:
import pandas as pd

data_with_nan = [10, None, 30, None, 50, None]
series_with_nan = pd.Series(data_with_nan)

print("Eksik Değerler (True olanlar eksik):")
print(series_with_nan.isnull())

print("----"*10)

num_missing_values = series_with_nan.isnull().sum()
print("\nEksik Değer Sayısı: ", num_missing_values)

print("----"*10)

filled_series = series_with_nan.fillna(0)

print("\nEksik Değerler 0 ile Doldurulduktan Sonra:")
print(filled_series)

Eksik Değerler (True olanlar eksik):
0    False
1     True
2    False
3     True
4    False
5     True
dtype: bool
----------------------------------------

Eksik Değer Sayısı:  3
----------------------------------------

Eksik Değerler 0 ile Doldurulduktan Sonra:
0    10.0
1     0.0
2    30.0
3     0.0
4    50.0
5     0.0
dtype: float64

In [29]:
import pandas as pd

data_with_nan = [10, None, 150, None, 50, None]
series_with_nan = pd.Series(data_with_nan)

print("Eksik Değerler (True olanlar eksik):")
print(series_with_nan.isnull())

print("----"*10)

num_missing_values = series_with_nan.isnull().sum()
print("\nEksik Değer Sayısı: ", num_missing_values)

print("----"*10)

mean_value = series_with_nan.mean()
print("Ortalama Değer:", mean_value)

filled_with_mean_series = series_with_nan.fillna(mean_value)

print("\nEksik Değerler Ortalama ile Doldurulduktan Sonra:")
print(filled_with_mean_series)

Eksik Değerler (True olanlar eksik):
0    False
1     True
2    False
3     True
4    False
5     True
dtype: bool
----------------------------------------

Eksik Değer Sayısı:  3
----------------------------------------
Ortalama Değer: 70.0

Eksik Değerler Ortalama ile Doldurulduktan Sonra:
0     10.0
1     70.0
2    150.0
3     70.0
4     50.0
5     70.0
dtype: float64

In [30]:
import pandas as pd

data_with_nan = [10, None, 150, None, 50, None, 200, None, None, 500]
series_with_nan = pd.Series(data_with_nan)

print("Eksik Değerler (True olanlar eksik):")
print(series_with_nan.isnull())

print("----"*10)

num_missing_values = series_with_nan.isnull().sum()
print("\nEksik Değer Sayısı: ", num_missing_values)

print("----"*10)

dropped_nan_series = series_with_nan.dropna()
print("\nEksik Değerler Kaldırıldıktan Sonra:")
print(dropped_nan_series)

Eksik Değerler (True olanlar eksik):
0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8     True
9    False
dtype: bool
----------------------------------------

Eksik Değer Sayısı:  5
----------------------------------------

Eksik Değerler Kaldırıldıktan Sonra:
0     10.0
2    150.0
4     50.0
6    200.0
9    500.0
dtype: float64

In [31]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])

filtered_series = series[series > 15]
print("15'ten Büyük Değerler:")
print(filtered_series)

print("----"*10)

filtered_series_range = series[(series > 15) & (series < 40)]
print("\n15 ile 40 Arasındaki Değerler:")
print(filtered_series_range)

print("----"*10)

selected_indices = series.loc[['b', 'd', 'e']]
print("\nBelirli İndekslere Göre Seçim (b, d, e):")
print(selected_indices)

print("----"*10)

even_values_series = series[series % 2 == 0]
print("\nÇift Değerler:")
print(even_values_series)

print("----"*10)

modified_series = series[series > 30] + 10
print("\n30'dan Büyük Değerleri 10 Artırarak:")
print(modified_series)

15'ten Büyük Değerler:
b    20
c    30
d    40
e    50
dtype: int64
----------------------------------------

15 ile 40 Arasındaki Değerler:
b    20
c    30
dtype: int64
----------------------------------------

Belirli İndekslere Göre Seçim (b, d, e):
b    20
d    40
e    50
dtype: int64
----------------------------------------

Çift Değerler:
a    10
b    20
c    30
d    40
e    50
dtype: int64
----------------------------------------

30'dan Büyük Değerleri 10 Artırarak:
d    50
e    60
dtype: int64

In [32]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])

doubled_series = series.apply(lambda x: x * 2)
print("Her Elemanın İki Katı:")
print(doubled_series)

print("----"*10)

squared_series = series.apply(lambda x: x ** 2)
print("\nHer Elemanın Karesi:")
print(squared_series)

print("----"*10)

conditional_series = series.apply(lambda x: x + 100 if x > 30 else x)
print("\n30'dan Büyük Değerlere 100 Ekle:")
print(conditional_series)

print("----"*10)

is_even_series = series.apply(lambda x: x % 2 == 0)
print("\nElemanlar Çift mi (True/False):")
print(is_even_series)

print("----"*10)

string_series = series.apply(lambda x: f"Değer: {x}")
print("\nHer Bir Elemanı String Olarak Dönüştür:")
print(string_series)

print("----"*10)

Her Elemanın İki Katı:
a     20
b     40
c     60
d     80
e    100
dtype: int64
----------------------------------------

Her Elemanın Karesi:
a     100
b     400
c     900
d    1600
e    2500
dtype: int64
----------------------------------------

30'dan Büyük Değerlere 100 Ekle:
a     10
b     20
c     30
d    140
e    150
dtype: int64
----------------------------------------

Elemanlar Çift mi (True/False):
a    True
b    True
c    True
d    True
e    True
dtype: bool
----------------------------------------

Her Bir Elemanı String Olarak Dönüştür:
a    Değer: 10
b    Değer: 20
c    Değer: 30
d    Değer: 40
e    Değer: 50
dtype: object
----------------------------------------

In [33]:
import pandas as pd

data = [10, 20, 30]
series = pd.Series(data, index=['a', 'b', 'c'])

new_index = ['a', 'b', 'c', 'd', 'e']
reindexed_series = series.reindex(new_index)
print("Yeni İndekslerle Düzenlenmiş Series:")
print(reindexed_series)

print("----"*10)

reindexed_series_fill = series.reindex(new_index, fill_value=0)
print("\nEksik Değerleri 0 ile Doldurarak Yeniden İndeksleme:")
print(reindexed_series_fill)

print("----"*10)

reindexed_series_ffill = series.reindex(new_index, method='ffill')
print("\nEksik Değerleri Bir Önceki Değerle Doldurarak Yeniden İndeksleme (Forward Fill):")
print(reindexed_series_ffill)

print("----"*10)

reindexed_series_bfill = series.reindex(new_index, method='bfill')
print("\nEksik Değerleri Bir Sonraki Değerle Doldurarak Yeniden İndeksleme (Backward Fill):")
print(reindexed_series_bfill)

print("----"*10)

Yeni İndekslerle Düzenlenmiş Series:
a    10.0
b    20.0
c    30.0
d     NaN
e     NaN
dtype: float64
----------------------------------------

Eksik Değerleri 0 ile Doldurarak Yeniden İndeksleme:
a    10
b    20
c    30
d     0
e     0
dtype: int64
----------------------------------------

Eksik Değerleri Bir Önceki Değerle Doldurarak Yeniden İndeksleme (Forward Fill):
a    10
b    20
c    30
d    30
e    30
dtype: int64
----------------------------------------

Eksik Değerleri Bir Sonraki Değerle Doldurarak Yeniden İndeksleme (Backward Fill):
a    10.0
b    20.0
c    30.0
d     NaN
e     NaN
dtype: float64
----------------------------------------

In [34]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])

sliced_series = series[1:3]
print("1. ve 3. İndeksler Arasındaki Elemanlar:")
print(sliced_series)

print("----"*10)

label_sliced_series = series['b':'d']
print("Etiketlere Göre ('b' ile 'd' arası dahil) Dilimleme:")
print(label_sliced_series)

print("----"*10)

first_three_elements = series[:3]
print("İlk Üç Eleman:")
print(first_three_elements)

print("----"*10)

last_two_elements = series[-2:]
print("Son İki Eleman:")
print(last_two_elements)

print("----"*10)

skipped_elements = series[::2]
print("İki Atlayarak Seçilen Elemanlar:")
print(skipped_elements)

print("----"*10)

reversed_series = series[::-1]
print("Tersten Dilimleme:")
print(reversed_series)

1. ve 3. İndeksler Arasındaki Elemanlar:
b    20
c    30
dtype: int64
----------------------------------------
Etiketlere Göre ('b' ile 'd' arası dahil) Dilimleme:
b    20
c    30
d    40
dtype: int64
----------------------------------------
İlk Üç Eleman:
a    10
b    20
c    30
dtype: int64
----------------------------------------
Son İki Eleman:
d    40
e    50
dtype: int64
----------------------------------------
İki Atlayarak Seçilen Elemanlar:
a    10
c    30
e    50
dtype: int64
----------------------------------------
Tersten Dilimleme:
e    50
d    40
c    30
b    20
a    10
dtype: int64

In [35]:
import pandas as pd

data_dict = {
    'isim': ['Ali', 'Ayşe','Kübra'],
    'yaş': [25, 30,20]
}

df_from_dict = pd.DataFrame(data_dict)

print("Sözlükten Oluşturulan DataFrame:")
print(df_from_dict)

Sözlükten Oluşturulan DataFrame:
    isim  yaş
0    Ali   25
1   Ayşe   30
2  Kübra   20

In [36]:
import pandas as pd

data_list = [
    ['Fatih', 38],
    ['Ali', 25],
    ['Ayşe', 30],
    ['Kübra', 20]
]

df_from_list = pd.DataFrame(data_list, columns=['isim', 'yaş'])

print("\nListeden Oluşturulan DataFrame:")
print(df_from_list)

Listeden Oluşturulan DataFrame:
    isim  yaş
0  Fatih   38
1    Ali   25
2   Ayşe   30
3  Kübra   20

In [37]:
import pandas as pd
import numpy as np

data_numpy = np.array([[10, 20], [30, 40], [50, 60]])

df_from_numpy = pd.DataFrame(data_numpy, columns=['Değer 1', 'Değer 2'])

print("\nNumPy Dizisinden Oluşturulan DataFrame:")
print(df_from_numpy)

NumPy Dizisinden Oluşturulan DataFrame:
   Değer 1  Değer 2
0       10       20
1       30       40
2       50       60

In [46]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')

print("Iris veri seti DataFrame:")
print(iris)

Iris veri seti DataFrame:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [50]:

import pandas as pd
df_from_excel = pd.read_excel('kisiler.xlsx')

print("\nExcel Dosyasından Oluşturulan DataFrame:")
print(df_from_excel)

In [51]:
import pandas as pd

json_data="countries-table.json"
df_from_json = pd.read_json(json_data)
print("\nJSON Veri Yapısından Oluşturulan DataFrame:")
print(df_from_json)

In [52]:


import pandas as pd

data = {
    'isim': ['Ali', 'Ayşe', 'Mehmet', 'Fatma', 'Can'],
    'yaş': [25, 30, 22, 28, 23],
    'şehir': ['Ankara', 'İstanbul', 'İzmir', 'Ankara', 'Bursa'],
    'maas': [5000, 7000, 4000, 6000, 4500]
}
original_df = pd.DataFrame(data)


print("Orijinal DataFrame:")
print(original_df)

print("\n---\n")

selected_columns_df = original_df[['isim', 'şehir']]
print("Belirli Sütunları Seçerek Oluşturulan Yeni DataFrame:")
print(selected_columns_df)

print("\n---\n")

filtered_df = original_df[original_df['yaş'] > 25]
print("Yaşı 25'ten Büyük Olanların Seçildiği Yeni DataFrame:")
print(filtered_df)

print("\n---\n")

subset_iloc_df = original_df.iloc[:3, :2]
print("`iloc` ile İlk Üç Satır ve İlk İki Sütunun Seçildiği DataFrame:")
print(subset_iloc_df)

print("\n---\n")

subset_loc_df = original_df.loc[0:2, ['isim', 'maas']]
print("`loc` ile Belirli Satır ve Sütunların Seçildiği DataFrame:")
print(subset_loc_df)

print("\n---\n")

filtered_columns_df = original_df.filter(items=['yaş', 'şehir'])
print("`filter()` Kullanarak Seçilen Sütunlarla Yeni DataFrame:")
print(filtered_columns_df)

print("\n---\n")

query_df = original_df.query("şehir == 'Ankara'")
print("`query()` Kullanarak Şehir Olarak Ankara'yı Seçen DataFrame:")
print(query_df)

Orijinal DataFrame:
     isim  yaş     şehir  maas
0     Ali   25    Ankara  5000
1    Ayşe   30  İstanbul  7000
2  Mehmet   22     İzmir  4000
3   Fatma   28    Ankara  6000
4     Can   23     Bursa  4500

---

Belirli Sütunları Seçerek Oluşturulan Yeni DataFrame:
     isim     şehir
0     Ali    Ankara
1    Ayşe  İstanbul
2  Mehmet     İzmir
3   Fatma    Ankara
4     Can     Bursa

---

Yaşı 25'ten Büyük Olanların Seçildiği Yeni DataFrame:
    isim  yaş     şehir  maas
1   Ayşe   30  İstanbul  7000
3  Fatma   28    Ankara  6000

---

`iloc` ile İlk Üç Satır ve İlk İki Sütunun Seçildiği DataFrame:
     isim  yaş
0     Ali   25
1    Ayşe   30
2  Mehmet   22

---

`loc` ile Belirli Satır ve Sütunların Seçildiği DataFrame:
     isim  maas
0     Ali  5000
1    Ayşe  7000
2  Mehmet  4000

---

`filter()` Kullanarak Seçilen Sütunlarla Yeni DataFrame:
   yaş     şehir
0   25    Ankara
1   30  İstanbul
2   22     İzmir
3   28    Ankara
4   23     Bursa

---

`query()` Kullanarak Şehir Olarak Ankara'yı Seçen DataFrame:
    isim  yaş   şehir  maas
0    Ali   25  Ankara  5000
3  Fatma   28  Ankara  6000

In [53]:
import pandas as pd
import numpy as np

random_data = np.random.rand(5, 3)

df_random = pd.DataFrame(random_data, columns=['Sütun 1', 'Sütun 2', 'Sütun 3'])

print("\nRastgele Verilerle Oluşturulan DataFrame:")
print(df_random)

Rastgele Verilerle Oluşturulan DataFrame:
    Sütun 1   Sütun 2   Sütun 3
0  0.013663  0.686096  0.481972
1  0.067686  0.365839  0.482259
2  0.486850  0.592284  0.805378
3  0.256936  0.546409  0.193449
4  0.030545  0.341221  0.601152

In [54]:

import pandas as pd

veri = {
    'İsim': ['Ayşe', 'Mehmet', 'Ahmet'],
    'Yaş': [25, 30, 35],
    'Maaş': [50000, 60000, 70000]
}
df = pd.DataFrame(veri)

print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [55]:
df.index = ['a', 'b', 'c']
print(df)

     İsim  Yaş   Maaş
a    Ayşe   25  50000
b  Mehmet   30  60000
c   Ahmet   35  70000

In [56]:
print(df.columns)

Index(['İsim', 'Yaş', 'Maaş'], dtype='object')

In [57]:
df.columns = ['Ad', 'Yaş', 'Gelir']
print(df)

       Ad  Yaş  Gelir
a    Ayşe   25  50000
b  Mehmet   30  60000
c   Ahmet   35  70000

In [58]:
print(df.values)

[['Ayşe' 25 50000]
 ['Mehmet' 30 60000]
 ['Ahmet' 35 70000]]

In [59]:
print(df.shape)

(3, 3)

In [60]:
print(df.dtypes)

Ad       object
Yaş       int64
Gelir     int64
dtype: object

In [61]:
print(df.size)

9

In [62]:
print(df.axes)

[Index(['a', 'b', 'c'], dtype='object'), Index(['Ad', 'Yaş', 'Gelir'], dtype='object')]

In [63]:
print(df.empty)

False

In [64]:
import pandas as pd

veri = {
    'isim': ['Ali', 'Ayşe', 'Fatma', 'Mehmet', 'Ahmet', 'Veli'],
    'yaş': [23, 25, 30, 35, 40, 22],
    'şehir': ['İstanbul', 'Ankara', 'İzmir', 'Bursa', 'Antalya', 'Adana']
}
df = pd.DataFrame(veri)

print(df.head(3))

    isim  yaş     şehir
0    Ali   23  İstanbul
1   Ayşe   25    Ankara
2  Fatma   30     İzmir

In [65]:
print(df.tail(2))

    isim  yaş    şehir
4  Ahmet   40  Antalya
5   Veli   22    Adana

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    6 non-null      object
 1   yaş     6 non-null      int64
 2   şehir   6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [67]:

print(df.describe())

             yaş
count   6.000000
mean   29.166667
std     7.194906
min    22.000000
25%    23.500000
50%    27.500000
75%    33.750000
max    40.000000

In [68]:

import pandas as pd

veri = {
    'isim': ['Ali', 'Ayşe', 'Fatma', 'Mehmet', 'Ahmet', 'Veli'],
    'yaş': [23, 25, 30, 35, 40, 22],
    'şehir': ['İstanbul', 'Ankara', 'İzmir', 'Bursa', 'Antalya', 'Adana'],
    'çalışma süresi': [2, 3, 10, 15, 20, 4],
}
df = pd.DataFrame(veri)


ali_bilgileri = df.loc[0, ['yaş', 'şehir']]
print(ali_bilgileri)

yaş            23
şehir    İstanbul
Name: 0, dtype: object

In [69]:
ali_satiri = df.loc[df['isim'] == 'Ali']
print(ali_satiri)

  isim  yaş     şehir  çalışma süresi
0  Ali   23  İstanbul               2

In [70]:
ilk_iki_satir = df.iloc[0:2, 0:3]
print(ilk_iki_satir)

   isim  yaş     şehir
0   Ali   23  İstanbul
1  Ayşe   25    Ankara

In [71]:
secili_sutunlar = df[['isim', 'şehir']]
print(secili_sutunlar)

     isim     şehir
0     Ali  İstanbul
1    Ayşe    Ankara
2   Fatma     İzmir
3  Mehmet     Bursa
4   Ahmet   Antalya
5    Veli     Adana

In [72]:
sutun_adlari = df.columns.tolist()

print(sutun_adlari)

['isim', 'yaş', 'şehir', 'çalışma süresi']

In [73]:
aralik_secimi = df.iloc[1:5, 1:3]
print(aralik_secimi)

   yaş    şehir
1   25   Ankara
2   30    İzmir
3   35    Bursa
4   40  Antalya

In [74]:
filtrelenmiş_veri = df[df['yaş'] > 30]
print(filtrelenmiş_veri)

     isim  yaş    şehir  çalışma süresi
3  Mehmet   35    Bursa              15
4   Ahmet   40  Antalya              20

In [76]:
seçilen_satırlar = df[(df['yaş'] > 20) & (df['çalışma süresi'] < 10)]

print(seçilen_satırlar)

   isim  yaş     şehir  çalışma süresi
0   Ali   23  İstanbul               2
1  Ayşe   25    Ankara               3
5  Veli   22     Adana               4

In [77]:
transpoze_df = df.transpose()
print(transpoze_df)

                       0       1      2       3        4      5
isim                 Ali    Ayşe  Fatma  Mehmet    Ahmet   Veli
yaş                   23      25     30      35       40     22
şehir           İstanbul  Ankara  İzmir   Bursa  Antalya  Adana
çalışma süresi         2       3     10      15       20      4

In [78]:
sıralı_veri = df.sort_values(by='yaş')
print(sıralı_veri)

     isim  yaş     şehir  çalışma süresi
5    Veli   22     Adana               4
0     Ali   23  İstanbul               2
1    Ayşe   25    Ankara               3
2   Fatma   30     İzmir              10
3  Mehmet   35     Bursa              15
4   Ahmet   40   Antalya              20

In [79]:
df_sütun_silindi = df.drop('şehir', axis=1)
print(df_sütun_silindi)

     isim  yaş  çalışma süresi
0     Ali   23               2
1    Ayşe   25               3
2   Fatma   30              10
3  Mehmet   35              15
4   Ahmet   40              20
5    Veli   22               4

In [80]:
df['yaş'].iloc[2] = None

print(df)

     isim   yaş     şehir  çalışma süresi
0     Ali  23.0  İstanbul               2
1    Ayşe  25.0    Ankara               3
2   Fatma   NaN     İzmir              10
3  Mehmet  35.0     Bursa              15
4   Ahmet  40.0   Antalya              20
5    Veli  22.0     Adana               4

<ipython-input-80-a28120894257>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['yaş'].iloc[2] = None
<ipython-input-80-a28120894257>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['yaş'].iloc[2] = None

In [81]:

df_doldurulmuş = df.fillna(0)
print(df_doldurulmuş)

     isim   yaş     şehir  çalışma süresi
0     Ali  23.0  İstanbul               2
1    Ayşe  25.0    Ankara               3
2   Fatma   0.0     İzmir              10
3  Mehmet  35.0     Bursa              15
4   Ahmet  40.0   Antalya              20
5    Veli  22.0     Adana               4

In [82]:
df_eksikler_silindi = df.dropna()
print(df_eksikler_silindi)

     isim   yaş     şehir  çalışma süresi
0     Ali  23.0  İstanbul               2
1    Ayşe  25.0    Ankara               3
3  Mehmet  35.0     Bursa              15
4   Ahmet  40.0   Antalya              20
5    Veli  22.0     Adana               4

In [83]:
df.loc[0, 'yaş'] = 76
print(df)

     isim   yaş     şehir  çalışma süresi
0     Ali  76.0  İstanbul               2
1    Ayşe  25.0    Ankara               3
2   Fatma   NaN     İzmir              10
3  Mehmet  35.0     Bursa              15
4   Ahmet  40.0   Antalya              20
5    Veli  22.0     Adana               4

In [84]:
df['yaş_kare'] = df['yaş'] ** 2
print(df)

     isim   yaş     şehir  çalışma süresi  yaş_kare
0     Ali  76.0  İstanbul               2    5776.0
1    Ayşe  25.0    Ankara               3     625.0
2   Fatma   NaN     İzmir              10       NaN
3  Mehmet  35.0     Bursa              15    1225.0
4   Ahmet  40.0   Antalya              20    1600.0
5    Veli  22.0     Adana               4     484.0

In [85]:
ortalama_yaş = df['yaş'].mean()
print("Yaş ortalaması:", ortalama_yaş)

Yaş ortalaması: 39.6

In [86]:
toplam_yaş = df['yaş'].sum()
print("Yaş toplamı:", toplam_yaş)

Yaş toplamı: 198.0

In [87]:
isim_sayısı = df['isim'].count()
print("İsim sayısı:", isim_sayısı)

İsim sayısı: 6

In [88]:
sayısal_veri = df.select_dtypes(include=['number'])

korelasyon = sayısal_veri.corr()
print(korelasyon)

                     yaş  çalışma süresi  yaş_kare
yaş             1.000000       -0.145004  0.990550
çalışma süresi -0.145004        1.000000 -0.275452
yaş_kare        0.990550       -0.275452  1.000000

In [89]:
melted_df = pd.melt(df, id_vars=['isim'], value_vars=['yaş', 'şehir'])
print(melted_df)

      isim variable     value
0      Ali      yaş      76.0
1     Ayşe      yaş      25.0
2    Fatma      yaş       NaN
3   Mehmet      yaş      35.0
4    Ahmet      yaş      40.0
5     Veli      yaş      22.0
6      Ali    şehir  İstanbul
7     Ayşe    şehir    Ankara
8    Fatma    şehir     İzmir
9   Mehmet    şehir     Bursa
10   Ahmet    şehir   Antalya
11    Veli    şehir     Adana

In [90]:
pivot_df = df.pivot_table(values='yaş', index='şehir', aggfunc='mean')
print(pivot_df)

           yaş
şehir
Adana     22.0
Ankara    25.0
Antalya   40.0
Bursa     35.0
İstanbul  76.0

In [91]:
gruplandırılmış_veri = df.groupby('şehir')['yaş'].mean()
print(gruplandırılmış_veri)

şehir
Adana       22.0
Ankara      25.0
Antalya     40.0
Bursa       35.0
İstanbul    76.0
İzmir        NaN
Name: yaş, dtype: float64

In [93]:
ek_veri = {
    'isim': ['Ali', 'Jane', 'Fatma'],
    'gelir': [3000, 3500, 4000]
}
df2 = pd.DataFrame(ek_veri)

birleşmiş_df = df.merge(df2, on='isim', how='left')
print(birleşmiş_df)

     isim   yaş     şehir  çalışma süresi  yaş_kare   gelir
0     Ali  76.0  İstanbul               2    5776.0  3000.0
1    Ayşe  25.0    Ankara               3     625.0     NaN
2   Fatma   NaN     İzmir              10       NaN  4000.0
3  Mehmet  35.0     Bursa              15    1225.0     NaN
4   Ahmet  40.0   Antalya              20    1600.0     NaN
5    Veli  22.0     Adana               4     484.0     NaN

In [94]:
ek_veri2 = {
    'isim': ['John', 'Jane', 'Michael'],
    'yaş': [34,50,79],
    'gelir': [3000, 3500, 4000]
}
df2 = pd.DataFrame(ek_veri2)

birleşik_df = pd.concat([df, df2], axis=0)
print(birleşik_df)

      isim   yaş     şehir  çalışma süresi  yaş_kare   gelir
0      Ali  76.0  İstanbul             2.0    5776.0     NaN
1     Ayşe  25.0    Ankara             3.0     625.0     NaN
2    Fatma   NaN     İzmir            10.0       NaN     NaN
3   Mehmet  35.0     Bursa            15.0    1225.0     NaN
4    Ahmet  40.0   Antalya            20.0    1600.0     NaN
5     Veli  22.0     Adana             4.0     484.0     NaN
0     John  34.0       NaN             NaN       NaN  3000.0
1     Jane  50.0       NaN             NaN       NaN  3500.0
2  Michael  79.0       NaN             NaN       NaN  4000.0

In [95]:
df_indeksli = df.set_index('isim')
print("Yeni İndeksli DataFrame:")
print(df_indeksli)

Yeni İndeksli DataFrame:
         yaş     şehir  çalışma süresi  yaş_kare
isim
Ali     76.0  İstanbul               2    5776.0
Ayşe    25.0    Ankara               3     625.0
Fatma    NaN     İzmir              10       NaN
Mehmet  35.0     Bursa              15    1225.0
Ahmet   40.0   Antalya              20    1600.0
Veli    22.0     Adana               4     484.0

In [96]:
yeni_indeksler = ['Ali', 'Ayşe', 'Fatma', 'Mehmet', 'Ahmet', 'Veli', 'Kemal']
df_yeniden_indekslenmis = df_indeksli.reindex(yeni_indeksler)
print("\nYeniden İndekslenmiş DataFrame:")
print(df_yeniden_indekslenmis)

Yeniden İndekslenmiş DataFrame:
         yaş     şehir  çalışma süresi  yaş_kare
isim
Ali     76.0  İstanbul             2.0    5776.0
Ayşe    25.0    Ankara             3.0     625.0
Fatma    NaN     İzmir            10.0       NaN
Mehmet  35.0     Bursa            15.0    1225.0
Ahmet   40.0   Antalya            20.0    1600.0
Veli    22.0     Adana             4.0     484.0
Kemal    NaN       NaN             NaN       NaN